# Notebook for analysing the trial session data

In [1]:
import pandas as pd
import processing as pr

In [2]:
session = pr.Processing("test_data/74_5_2023-11-20_17-11-27_processed.json")
trials = session.trials
header = session.header
data = session.session_data

In [3]:
trials

['Trial_1', 'Trial_2', 'Trial_3', 'Trial_4', 'Trial_5', 'Trial_6']

In [4]:
lick_rate = session.rate_calulator("Trial_1", "Lick")
lick_rate

{'event': 'Lick',
 'frequency': 0.1399972000559989,
 'count': 7,
 'duration': 50.001,
 'trial_type': '1'}

In [5]:
reward_rate = session.rate_calulator("Trial_1", "Water on")
reward_rate

Event 'Water on' not found in trial: Trial_1

{'event': 'Water on',
 'frequency': 0,
 'count': 0,
 'duration': 50.001,
 'trial_type': '1'}

In [6]:
results = []

for trial in trials:
    licks = session.rate_calulator(trial, "Lick")
    reward_rate = session.rate_calulator(trial, "Water on")

    combined_results = {f"lick_{k}": v for k, v in licks.items()}
    combined_results.update({f"water_{k}": v for k, v in reward_rate.items()})
    combined_results["Trial"] = trial

    results.append(combined_results)

result_df = pd.DataFrame(results)
result_df.set_index("Trial", inplace=True)

Event 'Water on' not found in trial: Trial_1
Event 'Water on' not found in trial: Trial_2
Event 'Water on' not found in trial: Trial_3

In [7]:
result_df

,lick_event,lick_frequency,lick_count,lick_duration,lick_trial_type,water_event,water_frequency,water_count,water_duration,water_trial_type
Trial,,,,,,,,,,
Trial_1,Lick,0.139997,7,50.001,1,Water on,0.000000,0,50.001,1
Trial_2,Lick,0.099998,5,50.001,0,Water on,0.000000,0,50.001,0
Trial_3,Lick,0.099996,5,50.002,1,Water on,0.000000,0,50.002,1
Trial_4,Lick,1.319974,66,50.001,0,Water on,0.379992,19,50.001,0
Trial_5,Lick,0.419992,21,50.001,0,Water on,0.079998,4,50.001,0
Trial_6,Lick,0.359993,18,50.001,1,Water on,0.059999,3,50.001,1

In [ ]:
result_df.to_json("session_results.json")