# Notebook for analysing the trial session data

In [1]:
import pandas as pd
import processing as pr

In [2]:
session = pr.Processing("session.json")
trials = session.trials
header = session.header
data = session.session_data

In [3]:
trials

['Trial_1', 'Trial_2', 'Trial_3', 'Trial_4', 'Trial_5', 'Trial_6']

In [4]:
lick_rate = session.rate_calulator("Trial_1", "Lick")
lick_rate

{'event': 'Lick',
 'frequency': 1.8399632007359854,
 'count': 92,
 'duration': 50.001,
 'trial_type': '0'}

In [5]:
reward_rate = session.rate_calulator("Trial_1", "Water on")
reward_rate

{'event': 'Water on',
 'frequency': 0.4799904001919962,
 'count': 24,
 'duration': 50.001,
 'trial_type': '0'}

In [8]:
results = []

for trial in trials:
    licks = session.rate_calulator(trial, "Lick")
    reward_rate = session.rate_calulator(trial, "Water on")

    combined_results = {f"lick_{k}": v for k, v in licks.items()}
    combined_results.update({f"water_{k}": v for k, v in reward_rate.items()})
    combined_results["Trial"] = trial

    results.append(combined_results)

result_df = pd.DataFrame(results)
result_df.set_index("Trial", inplace=True)

In [9]:
result_df

,lick_event,lick_frequency,lick_count,lick_duration,lick_trial_type,water_event,water_frequency,water_count,water_duration,water_trial_type
Trial,,,,,,,,,,
Trial_1,Lick,1.839963,92,50.001,0,Water on,0.479990,24,50.001,0
Trial_2,Lick,0.859983,43,50.001,0,Water on,0.179996,9,50.001,0
Trial_3,Lick,0.119998,6,50.001,1,Water on,0.020000,1,50.001,1
Trial_4,Lick,0.299994,15,50.001,1,Water on,0.059999,3,50.001,1
Trial_5,Lick,0.099998,5,50.001,1,Water on,0.020000,1,50.001,1
Trial_6,Lick,0.199996,10,50.001,0,Water on,0.020000,1,50.001,0